/* COMMON STYLES */

html,
body {
  padding: 0;
  margin: 0;
  opacity: 0.5;
}

body {
  background: url("../work/sokolova_full-bkg.jpg") no-repeat center top;
  background-size: auto;
}

.container {
  display: flex;
  flex-basis: 1170px;
  justify-content: center;
  
}
/* HEADER */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  min-height: 40px;
  margin: 30px 0;
}

.header-menu__logo {
  width: 20px;
  border-top: 2px solid #191919;
  box-shadow: 
    0 7px 0 0 #191919,
    0 -7px 0 0 #191919;
}

.main-nav {

}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
}

.main-common {    
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-container {
  position: relative;
}

.categories-btn {
  position: absolute;
  right: 50%;
  top: 48px;
  width: 4px;
  height: 4px;
  box-shadow: 
    5px 5px 0 1px #252525,
    -5px 5px 0 1px #252525,
    5px -5px 0 1px #252525,
    -5px -5px 0 1px #252525;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px 0 70px 0;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}


.portfolio-item__bottom {
  display: flex;
}

.main__loader {
  background-color: #ffffff;

}

.loader-btn {
  display: flex;
  flex-basis: 1170px;
  justify-content: center;
}

.loader-btn a,
.loader-btn a:link,
.loader-btn a:visited,
.loader-btn a:active {
  display: flex;
  flex-basis: 1170px;
  justify-content: center;
  text-decoration: none;
  color: #1d1d1d;
  font-size: 14px;
  line-height: 28px;
  padding: 36px;
  cursor: pointer;
}

.loader-btn a:hover {
  background-color: lightblue;
}

/* FOOTER */
/* 
footer {
  width: 100%;  
  min-height: 160px;
  background-color: #ebebeb;
}

.footer-content {
  height: 3em;
  
}

.copyright {
  font-size: 14px;
  line-height: 28px;
  width: 20em;
  text-align: center;
  margin: 0 auto;
  
}

.social {
  width: 170px;
  margin: 0 auto;
}

.social-btn {
  display: block;
  width: 42px;
  text-align: center;
  float: left;
}

.social::after {
  content: " ";
  display: block;
  clear: both;
}

/* Разметка. Общие */

@media (max-width: 425px) {
  .portfolio-item {
    flex-basis: 100%;
    margin: 0 auto 30px auto;
  }

  .portfolio-item__top {
    flex-basis: 100%; 
  }

  .portfolio-item__bottom {
    flex-basis: 100%;
  }

  img {
    max-width: 100%;
    height: 100%;
  }
}

@media (min-width: 426px) and (max-width: 767px) {
  .portfolio-item {
    flex-basis: 48%;
  }

  .portfolio-item__top {
    flex-basis: 100%;
  }

  .portfolio-item__bottom {
    flex-basis: 100%;
  }

  img {
    max-width: 100%;
    height: 100%;
  }
}

@media (min-width: 770px) and (max-width: 849px) {
  .portfolio-item{
    margin: 0 auto 30px auto;
  } 
}

@media (min-width: 850px) and (max-width: 1150px) {
  .portfolio-item {
    flex-basis: 31%;
  }

  .portfolio-item__top {
    flex-basis: 100%;
  }

  .portfolio-item__bottom {
    flex-basis: 100%;
  }

  img {
    max-width: 100%;
    height: 100%;
  }
}














body > * {
  box-shadow: inset 0 0 0 2px black;
}

body > * > * {
  box-shadow: inset 0 0 0 2px red;
}

body > * > * > * {
  box-shadow: inset 0 0 0 2px blue;
}

body > * > * > * > * {
  box-shadow: inset 0 0 0 2px green;
}

body > * > * > * > * > * {
  box-shadow: inset 0 0 0 2px gray;
}

body > * > * > * > * > * > * {
  box-shadow: inset 0 0 0 2px black;
}

body > * > * > * > * > * > * > * {
  box-shadow: inset 0 0 0 2px red;
}

body > * > * > * > * > * > * > * > * {
  box-shadow: inset 0 0 0 2px blue;
}

body > * > * > * > * > * > * > * > * > * {
  box-shadow: inset 0 0 0 2px green;
}

body > * > * > * > * > * > * > * > * > * > * {
  box-shadow: inset 0 0 0 2px gray;
}