/* COMMON STYLES */

html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  /* opacity: 0.5; */
}

body {
  /* background: url("../work/sokolova_full-bkg.jpg") no-repeat center top;
  background-size: auto; */
}

@font-face {
  font-family: 'Gravity';
  src: 
    local('Gravity 400 normal'),
    url('../fonts/gravity-400-normal.woff2') format('woff2'),
    url('../fonts/gravity-400-normal.woff') format('woff'),
    url('../fonts/gravity-400-normal.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity__bold';
  src: 
    local('Gravity 700 normal'),
    url('../fonts/gravity-700-normal.woff2') format('woff2'),
    url('../fonts/gravity-700-normal.woff') format('woff'),
    url('../fonts/gravity-700-normal.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity__italic';
  src: 
    local('Gravity 400 italic'),
    url('../fonts/gravity-400-italic.woff2') format('woff2'),
    url('../fonts/gravity-400-italic.woff') format('woff'),
    url('../fonts/gravity-400-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gravity__italic__bold';
  src: 
    local('Gravity 700 italic'),
    url('../fonts/gravity-700-italic.woff2') format('woff2'),
    url('../fonts/gravity-700-italic.woff') format('woff'),
    url('../fonts/gravity-700-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div[class*="container"] {
  -ms-flex-preferred-size: 1170px;
      flex-basis: 1170px;
  padding: 0 15px;
}

.shadow {
  position: absolute;
  left: 0;
  top: 452px;
  bottom: 0;
  z-index: 80;
  width: 100%;
  height: auto;
  background-color: #1a1a1a;
  opacity: 0.9;
}

.social-btn {
  font-size: 0;
  padding: 11px 6px;
}

.social-btn-block {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 150px;
}

/* HEADER */

header {
  background-color: #ffffff;
  position: relative;
  z-index: 90;
}

.header-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main-logo {
  margin: 30px 0;
}

.header__menu-logo {
  display: block;
  padding: 10px;
  margin-right: -10px;
}

.header__menu-logo svg {
  width: 20px;
  height: 16px;
}

.line-1,
.line-2,
.line-3 {
  width: 20px;
  height: 2px;
  fill: #191919;
}

.header__main-nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 13px;
}

.header__menu-block {
  position: absolute;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100px;
  right: 0;
  padding-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #ffffff;
}

.header__menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu li {
  width: 100%;
}

.header__menu a {
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Gravity__bold', 'Arial', sans-serif;
  text-decoration: none;
  font-size: 24px;
  line-height: 48px;
  color: #191919;
}

.header__menu-block a:hover {
  color: #999999;
}

.header__menu__social {
  padding: 54px 0;
}

.header__menu__social > *:hover {
  opacity: 0.5;
}

/* MAIN */

.main__content {    
  background-color: #f6f6f6;
}

.main-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.main__categories-btn {
  display: block;
  padding: 10px;
  margin: 32px 0 27px 0;
}

.main__categories-btn svg {
  width: 16px;
  height: 16px;
}

.cube-1,
.cube-2,
.cube-3,
.cube-4 {
  width: 6px;
  height: 6px;
}

.main__portfolio {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.portfolio__item > img {
  display: block;
  width: 370px;
  background-color: #ffffff;
}

.portfolio__item--top > img,
.portfolio__item--bottom > img {
  display: block;
  width: 370px;
  background-color: #ffffff;
}

.portfolio__item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.portfolio__img-description {
  position: absolute;
  z-index: 10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.img-description--text {
  margin-bottom: 8px;
  font-family: 'Gravity__bold', 'Arial', sans-serif;
  font-size: 24px;
  color: #ffffff;
  line-height: 36px;
  letter-spacing: -1px;
  text-align: center;
  -o-text-overflow: clip;
     text-overflow: clip;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear 0.2s;
  -o-transition: opacity 0.1s linear 0.2s;
  transition: opacity 0.1s linear 0.2s;
}

.img-description--category {
  font-family: 'Gravity', 'Arial', sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 22px;
  text-transform: lowercase;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear 0.3s;
  -o-transition: opacity 0.1s linear 0.3s;
  transition: opacity 0.1s linear 0.3s;
}

[class^="portfolio__item--"] {
  position: relative;
  overflow: hidden;
}

[class^="portfolio__item--"]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #0c0c0c;
  opacity: 0;
  -webkit-transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

[class^="portfolio__item--"]:hover[class^="portfolio__item--"]:after {
  opacity: 0.85;
}

.portfolio__img-description:hover .img-description--text,
.portfolio__img-description:hover .img-description--category {
  opacity: 1;
}


.main__loader {
  background-color: #ffffff;
}

.main__loader-btn {
  -ms-flex-preferred-size: 1170px;
      flex-basis: 1170px;
  padding: 0 15px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main__loader-btn a,
.main__loader-btn a:link,
.main__loader-btn a:visited,
.main__loader-btn a:active {
  -ms-flex-preferred-size: 1170px;
      flex-basis: 1170px;
  display: block;
  font-family: 'Gravity', 'Arial', sans-serif;
  text-decoration: none;
  text-align: center;
  color: #1d1d1d;
  font-size: 14px;
  line-height: 28px;
  padding: 36px 15px;
  cursor: pointer;
}

.main__loader-btn a:hover {
  color: #999999;
}

/* FOOTER */

.footer {
  background-color: #ebebeb;
}

.footer__content {
  padding: 45px 0 45px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social a {
  opacity: 0.4;
}

.footer__social a:hover {
  opacity: 1;
  background: #d7d7d7;
}

.footer__copyright {
  margin-top: 5px;
  font-family: 'Gravity', 'Arial', sans-serif;
  font-size: 10px;
  line-height: 28px;
  color: #5f5f5f; 
}

.social-btn {

}

/* ALERT */

.soon-alert {
  display: none;
}

.soon-alert:target {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.soon-block p {
  margin: 0 0 10px 0;
  padding: 0;  
}

.close {
  position: relative;
  display: block;
  padding: 5px 10px;
  background-color: lightblue;
  border-radius: 10px;
}

.soon-block a:link,
.soon-block a:visited,
.soon-block a:active {
  text-decoration: none;
  color: #ffffff;
}

.soon-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-color: #ffb6c1;
  color: #444444;
  border-radius: 10px;
}

.soon-alert .close::before {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  cursor: default;
}

/* RESPONSIVE */

@media (max-width: 425px) {
  .portfolio__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .portfolio__item--top {
    margin-bottom: 30px;
  }

  img {
    max-width: 100%;
    height: 100%;
  }

  .header__main-logo {
    margin: 10px 0;
  }

  .header__menu-block {
    top: 60px;
  }

  .header__menu a {
    font-size: 24px;
    line-height: 36px;
  }

  .header__menu__social {
    padding: 24px 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }

  img {
    max-width: 100%;
    height: 100%;
  }

  .header__main-logo {
    margin: 10px 0;
  }

  .header__menu-block {
    top: 60px;
  }

  .header__menu a {
    font-size: 24px;
    line-height: 36px;
  }

  .header__menu__social {
    padding: 24px 0;
  }
}

@media (min-width: 769px) and (max-width: 1170px) {
  .portfolio__item {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }

  img {
    max-width: 100%;
    height: 100%;
  }
}

/* Normalize.css */

html {line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body {margin: 0;}
article, aside, footer, header, nav, section {display: block;}
h1 {font-size: 2em; margin: 0.67em 0;}
figcaption, figure, main {display: block;}
figure {margin: 1em 40px;}
hr {-webkit-box-sizing: content-box;box-sizing: content-box; height: 0; overflow: visible;}
pre {font-family: monospace, monospace; font-size: 1em;}
a {background-color: transparent; -webkit-text-decoration-skip: objects;}
abbr[title] {border-bottom: none; text-decoration: underline; -webkit-text-decoration: underline dotted; text-decoration: underline dotted;}
b, strong {font-weight: inherit;}
b, strong {font-weight: bolder;}
code, kbd, samp {font-family: monospace, monospace; font-size: 1em;}
dfn {font-style: italic;}
mark {background-color: #ff0; color: #000;}
small {font-size: 80%;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
audio, video {display: inline-block;}
audio:not([controls]) {display: none; height: 0;}
img {border-style: none;}
svg:not(:root) {overflow: hidden;}
button, input, optgroup, select, textarea {font-family: sans-serif; font-size: 100%; line-height: 1.15; margin: 0;}
button, input {overflow: visible;}
button, select {text-transform: none;}
/* ошибка? */
button,
html [type="button"]
[type="reset"],
[type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border-style: none; padding: 0;}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset {padding: 0.35em 0.75em 0.625em;}
legend {-webkit-box-sizing: border-box;box-sizing: border-box; color: inherit; display: table;
  max-width: 100%; padding: 0; white-space: normal;}
progress {display: inline-block; vertical-align: baseline;}
textarea {overflow: auto;}
[type="checkbox"], [type="radio"] {-webkit-box-sizing: border-box;box-sizing: border-box; padding: 0;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield; outline-offset: -2px;}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button; font: inherit;}
details, menu {display: block;}
summary {display: list-item;}
canvas {display: inline-block;}
template {display: none;}
[hidden] {display: none;}

/*

body > * {
  box-shadow: inset 0 0 0 2px black;
}

body > * > * {
  box-shadow: inset 0 0 0 2px red;
}

body > * > * > * {
  box-shadow: inset 0 0 0 2px blue;
}

body > * > * > * > * {
  box-shadow: inset 0 0 0 2px green;
}

body > * > * > * > * > * {
  box-shadow: inset 0 0 0 2px gray;
}

body > * > * > * > * > * > * {
  box-shadow: inset 0 0 0 2px black;
}

body > * > * > * > * > * > * > * {
  box-shadow: inset 0 0 0 2px red;
}

body > * > * > * > * > * > * > * > * {
  box-shadow: inset 0 0 0 2px blue;
}

body > * > * > * > * > * > * > * > * > * {
  box-shadow: inset 0 0 0 2px green;
}

body > * > * > * > * > * > * > * > * > * > * {
  box-shadow: inset 0 0 0 2px gray;
}

*/
